body { 
  font-size: 22px; 
  font-family: Cambria, Cochin, Georgia, serif;
  width: 640px; 
  margin: 0 auto;
  margin-top: 0.9em; 
  margin-bottom: 0.9em;
}

#fps {
  position: absolute; 
  left: 20px; 
  top: 20px; 
  font-weight: bold; 
  color: #FF0000; 
}

#video {
  width: 100%; 
  margin: 0 auto;
  border: thick solid black;
}

#image {
  display: block;
  overflow: auto
}

#control{
  margin: 0 auto;
}

/* Control specific css */

#speedsetting {
  margin: 0 auto;
  font-weight: bold; 
}

.bigbutton {
  height: 40px;
  width: 150px;
  font-weight: bold;
  font-size: 22px; 
  font-family: Cambria, Cochin, Georgia, serif;
}

#controltable { 
  margin: 0 auto;   
}

/* Leap specific css */

#leapStatus {
  margin: 0 auto;
  font-weight: bold; 
  font-size: 44px;
}

.movetable { 
  table-layout: fixed;
  width: 100%;
}

.moveelem {
  text-align: left;
  margin: 0 auto;
}